@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__item/header__item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_style/header__lang-link_style_underline.css);

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 0 56px 0;
    padding: 28px 48px 0 48px;
}

@media (max-width:768px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}

@media (max-width:320px) {
    .header {
        padding: 16px auto 0;
        margin: 0 0 48px 0;
    }
}