.lead__title {
    max-width: 720px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 98px;
    line-height: 104%;
    margin: 0 auto 32px auto;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .lead__title {
      font-size: 10vw;
    }
  }

@media (max-width: 320px) {
    .lead__title {
      font-size: 40px;
      line-height: 44px;
      margin: 0 auto 16px auto;
    }
  }
